<!--
<section style="background: white;">
    <div class="container">
        <div class="board">
            &lt;!&ndash; Navigation Area (Circular Tabs) &ndash;&gt;
            <msw-navbar></msw-navbar>
            &lt;!&ndash; End Navigation Area (Circular Tabs) &ndash;&gt;

            &lt;!&ndash; Content Area &ndash;&gt;
            <div class="tab-content">
                &lt;!&ndash; Nested view  &ndash;&gt;
                <ui-view></ui-view>
            </div>
            &lt;!&ndash; End Content Area &ndash;&gt;
        </div>

        &lt;!&ndash; For Debugging: show our valid formData &ndash;&gt;
        <pre>{{ formData | json }}</pre>
    </div>
</section>-->
<!-- main app container -->
<!--<div class="jumbotron" style="background: white">
    <div class="container">-->
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
<!--    </div>
</div>-->

<!-- credits -->
<!--<div class="text-center">
    <p>
        <a href="http://jasonwatmore.com/post/2016/09/29/angular-2-user-registration-and-login-example-tutorial" target="_top">Angular 2 User Registration and Login Example & Tutorial</a>
    </p>
</div>-->
